<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>HOME | MiSpot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="mispot.ico" type="image/x-icon" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style type="text/css">
      body {
        background: #ddd;
      }
      a {
        color: #f4d504 !important;
      }
      ul li a:hover {
        background: #555 !important;
      }
      .column1 {
        float: left;
        width: 28%;
        padding: 0 10px;
      }
      .row1 {
        margin-left: 15%;
      }
      .column2 {
        float: left;
        width: 32%;
        padding: 0 10px;
        margin-top: 10px;
      }
      .row2 {
        margin-left: 25%;
      }
      .card1 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        height: 395px;
        text-align: center;
        background-color: #f1f1f1;
        margin: 0 auto;
        float: none;
        border-radius: 10px;
        margin-bottom: 11%;
      }
      .card {
        padding: 10px;
        background-color: transparent;
        border: 0px;
      }
    </style>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark"
      style="position: relative; color: #f4d504 !important"
    >
      <div class="container-fluid">
        <img src="mispotimg.png" style="height: 50px; display: inline" />
        <a
          class="navbar-brand"
          href="https://mismatchesspotted.el.r.appspot.com/home"
          style="
            font-family: 'Courier New', monospace;
            font-weight: bold;
            color: #f4d504 !important;
          "
          ><div>MiSpot</div>
          <div style="font-size: 0.3em">Mismatches Spotted</div></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="logreg" style="position: absolute; right: 60px">
          <span class="nav-item"> </span>
        </div>
        <div class="collapse navbar-collapse bg-dark" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="https://mismatchesspotted.el.r.appspot.com/home"
                >Home</a
              >
            </li>
            <li>
              <a
                class="nav-link"
                href="https://mismatchesspotted.el.r.appspot.com/login"
                >Login</a
              >
            </li>
            <li>
              <a
                class="nav-link"
                href="https://mismatchesspotted.el.r.appspot.com/signup"
                >Register</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Docs
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
                style="background-color: #212529 !important"
              >
                <li>
                  <a
                    class="dropdown-item"
                    href="https://mismatchesspotted.el.r.appspot.com/demo"
                    >Demo</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="https://mismatchesspotted.el.r.appspot.com/start"
                    >Getting Started</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="https://mismatchesspotted.el.r.appspot.com/pricing"
                    >Pricing</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid" style="margin-top: 10px">
      <div
        class="container p-5"
        style="margin-top: 10px; padding: 0px !important"
      >
        <div class="row">
          <div
            class="col-lg-4 col-md-12 mb-4"
            style="
              width: 60%;
              display: block;
              margin-left: auto;
              margin-right: auto;
            "
          >
            <div
              class="card h-100"
              style="background-color: transparent; border-width: 0px"
            >
              <div class="card-body">
                <h5 class="card-title" style="align-items: center">
                  <img
                    src="\mispotimg.png"
                    style="
                      width: 50%;
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                    "
                  />
                </h5>
                <h2 style="text-align: center">
                  Enhance the customers trust on your E-Commerce platform.
                </h2>
                <!-- <div class="d-grid my-3">
                <button class="btn btn-outline-dark btn-block">Select</button>
              </div>
              <ul>
                <li></li>
              </ul> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="card"
      style="
        background-color: rgba(143, 188, 143, 0.4);
        border-radius: 15px;
        margin: 15px;
      "
    >
      <div class="card-title">
        <p
          align="left"
          style="
            font-size: 37px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: darkolivegreen;
          "
        >
          About us
        </p>
      </div>
      <div class="card-body">
        <p
          align="left"
          style="
            font-size: 20px;
            color: black;
            padding-left: 60px;
            padding-bottom: 30px;
            padding-right: 50px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
          "
        >
          Mispot is a publicly listed company which provides api services to
          e-commerce companies.we cater e-commerce companies and our portfolia
          comprises of solutions in product mismatch and fraus seller.We deliver
          verfication details to the companies which consits of many information
          like percentage matched,genuinity index etc.
        </p>
      </div>
    </div>
    <div class="container">
      <div
        style="
          font-size: 35px;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          color: darkolivegreen;
        "
      >
        Our Mission
      </div>
      <div class="row" id="prod">
        <div class="col-md-4 card">
          <div
            class="card-body"
            style="background-color: white; border-radius: 15px"
          >
            <img src="\startup.png" style="width: 100%; border-radius: 10px" />
            <p
              style="
                text-align: center;
                font-weight: 700;
                font-size: 20px;
                font-family: 'Montserrat', sans-serif;
                margin-bottom: 0px;
              "
            >
              START UPS
            </p>
            <p
              align="left"
              style="
                font-size: 15px;
                color: black;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
              "
            >
              Help emerging ecommerce startups on product mismatches and make
              their returns management better
            </p>
          </div>
        </div>
        <div class="col-md-4 card">
          <div
            class="card-body"
            style="background-color: white; border-radius: 15px"
          >
            <img
              src="\handshake.png"
              style="width: 100%; border-radius: 10px"
            />
            <p
              style="
                text-align: center;
                font-weight: 700;
                font-size: 20px;
                font-family: 'Montserrat', sans-serif;
              "
            >
              TRUST
            </p>
            <p
              align="left"
              style="
                font-size: 15px;
                color: black;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
              "
            >
              To ensure the trust between the ecommerce company and customers
            </p>
          </div>
        </div>
        <div class="col-md-4 card">
          <div
            class="card-body"
            style="background-color: white; border-radius: 15px"
          >
            <img src="\returns.jpg" style="width: 100%; border-radius: 10px" />
            <p
              style="
                text-align: center;
                font-weight: 700;
                font-size: 20px;
                font-family: 'Montserrat', sans-serif;
              "
            >
              PRODUCT RETURNS
            </p>
            <p
              align="left"
              style="
                font-size: 15px;
                color: black;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
              "
            >
              Decrease product returns for ecommerce companies through our
              Verification stratagies
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="card"
      style="
        background-color: rgba(143, 188, 143, 0.4);
        border-radius: 15px;
        margin: 15px;
        margin-top: 25px;
      "
    >
      <div class="card-title">
        <p
          align="center"
          style="
            font-size: 37px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: darkolivegreen;
          "
        >
          Solutions we offer
        </p>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="card col-md-6">
            <img src="\mismatch.png" style="width: 100%; border-radius: 10px" />
            <p
              style="
                text-align: center;
                font-weight: 700;
                font-size: 20px;
                font-family: 'Montserrat', sans-serif;
              "
            >
              PRODUCT MISMATCH
            </p>
            <p
              align="left"
              style="
                font-size: 15px;
                color: black;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
              "
            >
              We will eliminate product mismatches using our verification
              stratagies like object detection and Barcode scanner
            </p>
          </div>
          <!-- <div class="card col-md-6 " style="">
          <img src = \Fraud.png style="width:100%;border-radius: 10px;">
                <p style="text-align: center;font-weight: 700;font-size:20px;font-family: 'Montserrat', sans-serif;margin-bottom: 0px;">FRAUD SELLER</p>
                <p align = left style ="font-size: 15px;color:black;font-family: Verdana, Geneva, Tahoma, sans-serif;"> Based on the genuinity index given to each seller after verification companies can identify Fraud sellers</p>
        </div> -->
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var blur = 1;
      function checkBlur() {
        if (blur % 2 == 1)
          document.getElementById("key").style.filter = "blur(0px)";
        else document.getElementById("key").style.filter = "blur(5px)";
        blur++;
      }
    </script>
  </body>
</html>
