<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>Pricing | MiSpot</title>
    <link rel="icon" href="mispot.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style type="text/css">
      body {
        background: #ddd;
      }
      a {
        color: #f4d504 !important;
      }
      ul li a:hover {
        background: #555 !important;
      }
    </style>
    <title>Pricing | MiSpot</title>

    <style>
      .card1:hover {
        background: #00ffb6;
        border: 1px solid #00ffb6;
      }

      .card1:hover .list-group-item {
        background: #00ffb6 !important;
      }

      .card2:hover {
        background: #00c9ff;
        border: 1px solid #00c9ff;
      }

      .card2:hover .list-group-item {
        background: #00c9ff !important;
      }

      .card3:hover {
        background: #ff95e9;
        border: 1px solid #ff95e9;
      }

      .card3:hover .list-group-item {
        background: #ff95e9 !important;
      }

      .card:hover .btn-outline-dark {
        color: white;
        background: #212529;
      }
    </style>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark"
      style="position: relative; color: #f4d504 !important"
    >
      <div class="container-fluid">
        <img src="mispotimg.png" style="height: 50px; display: inline" />
        <a
          class="navbar-brand"
          href="https://mismatchesspotted.el.r.appspot.com/home"
          style="
            font-family: 'Courier New', monospace;
            font-weight: bold;
            color: #f4d504 !important;
          "
          ><div>MiSpot</div>
          <div style="font-size: 0.3em">Mismatches Spotted</div></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="logreg" style="position: absolute; right: 60px">
          <span class="nav-item"> </span>
        </div>
        <div class="collapse navbar-collapse bg-dark" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="https://mismatchesspotted.el.r.appspot.com/home"
                >Home</a
              >
            </li>
            <li>
              <a
                class="nav-link"
                href="https://mismatchesspotted.el.r.appspot.com/login"
                >Login</a
              >
            </li>
            <li>
              <a
                class="nav-link"
                href="https://mismatchesspotted.el.r.appspot.com/signup"
                >Register</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Docs
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
                style="background-color: #212529 !important"
              >
                <li>
                  <a
                    class="dropdown-item"
                    href="https://mismatchesspotted.el.r.appspot.com/demo"
                    >Demo</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="https://mismatchesspotted.el.r.appspot.com/start"
                    >Getting Started</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="https://mismatchesspotted.el.r.appspot.com/pricing"
                    >Pricing</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="container p-5">
        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card card1 h-100">
              <div class="card-body">
                <h5 class="card-title">Student pack</h5>
                <small class="text-muted">For Students/Learners</small>
                <br /><br />
                <span class="h2">FREE</span>
                <br /><br />
                <div class="d-grid my-3">
                  <button
                    class="btn btn-outline-dark btn-block"
                    onclick="location.replace(txt+'1');"
                  >
                    Select
                  </button>
                </div>
                <ul>
                  <li>10 Calls per minute</li>
                  <li>1,00,000 Calls per month</li>
                  <li>Verification Data</li>
                  <li>Genuinity Index</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card card2 h-100">
              <div class="card-body">
                <h5 class="card-title">Startup pack</h5>
                <small class="text-muted"
                  >For startups and Small Business</small
                >
                <br /><br />
                <span class="h2">₹1,000</span>/month <br /><br />
                <div class="d-grid my-3">
                  <button
                    class="btn btn-outline-dark btn-block"
                    onclick="location.replace(txt+'2');"
                  >
                    Select
                  </button>
                </div>
                <ul>
                  <li>100 Calls per minute</li>
                  <li>10,00,000 Calls per month</li>
                  <li>Verification Data</li>
                  <li>Genuinity Index</li>
                  <li>Product, Seller and Company rankings</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card card3 h-100">
              <div class="card-body">
                <h5 class="card-title">Enterprise</h5>
                <small class="text-muted">For Large Companies</small>
                <br /><br />
                <span class="h2">₹10,000</span>/month <br /><br />
                <div class="d-grid my-3">
                  <button
                    class="btn btn-outline-dark btn-block"
                    onclick="location.replace(txt+'3');"
                  >
                    Select
                  </button>
                </div>
                <ul>
                  <li>1,000 Calls per minute</li>
                  <li>1,00,00,000 Calls per month</li>
                  <li>Verification Data</li>
                  <li>Genuinity Index</li>
                  <li>Product, Seller and Company Ranking</li>
                  <li>
                    Time taken for verification and accuracy and their rankings
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      let txt = "https://mismatchesspotted.el.r.appspot.com/signup/";
    </script>
  </body>
</html>
